body {
    display: flex;
    justify-content: center;
}

.game {
    width: 60%;
    display: grid;
    gap: 0px;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(8, 1fr);
}

.position {
    /* height: 50px; */
    outline: 1px solid black;
    /* float: left; */
}

.piece {
    width: 100px;
    height: 100%;
}

/* .position:hover {
    background-color: gray;
} */

.position {
    background-color: #9c5132;
}

.position:not(.black) {
    background-color: #fef6b7;
}
